RewriteEngine On
RewriteOptions InheritDown
RewriteBase /
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L]

AddHandler proxy:unix:/var/www/kewoustore.com/php8.2.socket|fcgi://127.0.0.1:9000/ .php .php3 .php4 .php5 .phtml
